body{
    background: #667db6;
    font-family: 'Goldman', cursive;
    color: maroon;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h2{
    margin-top: 20px;
    font-size: 50px;
}
.tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 5px;
    border: 3px solid maroon;
    color: white;
}
.oyuncu_tabela, .bilgisayar_tabela{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
span{
    margin-bottom: 15px;
}
.kutu{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    line-height: 100px;
    text-align: center;
    font-size: 40px;
    border-radius: 100px;
    background-color: white;
}
.secim{
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
img{
    cursor: pointer;
    height: 100px;
    width: 100px;
    transition: all .5s ease;
}
.secim img:hover{
    transform: scale(1.5);
}
.secimler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    margin-top: 40px;
    font-family: 'roboto' cursive;
    font-size: 30px;
}
.oyuncu_secim,.bilgisayar.secim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span{
    text-decoration: underline;
}
#mesaj{
    height: 50px;
    width: 450px;
    border: 2px solid maroon;
    margin-top: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
}
.vs{
    font-size: 32px;
}